 table {
            background-color: yellow;
        }
       table, th, td, tr {
            border: 1px solid black;
        }
        th {
            background-color: yellow;
        }
        caption {
            font-weight: bold; 
        }